<h1>Edit Your Account</h1>

<%= form_for @user do |f| %>

First_Name:<%= f.text_field :fname %><br>
Last_Name:<%= f.text_field :lname %><br>
Email:<%= f.text_field :email %><br>
Username:<%= f.text_field :username %><br>
Password:<%= f.text_field :password %><br>
<%= f.submit %>
<% end %>

