<!DOCTYPE html>
<html>
  <head>
    <title>Blogap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar'>
      <% if logged_in? %>
          <li><%= link_to 'Log out', '/logout', {method: 'post'} %></li>
          <li><a href='/blogs/new'>New Blog</a></li>
          <li><a href="<%= current_user.id %>/edit">Edit User</a></li>
          <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
       <% end %>
       
      <% if !logged_in? %>
       <li><a href='/login'>Login</a></li> 
       <% end %>
       
      <li><a href='/'>Home</a></li> 
      <li><a href='/users/new'>New User</a></li>
      <li><a href='/blogs'>Blogs</a></li>
    </nav>





  	<%= flash[:message] if flash[:message] %>
    <%= yield %>

<div id='NFL'></div>
<div id='MLB'></div>
<div id='NBA'></div>
<div id='NHL'></div>
  </body>
</html>
